/*insert custom css below*/


body {
  padding-top 80px;
}

.heading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 20px;
}

.heading h1 {
}

.box {
}

.box:last-child {
}

.box h2 {
}

.box img {
}

.box a.read-more {
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  position: fixed;
}
